<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %> </title>  <!-- here Ejs template is begin used for printing the values which have been passed 
    through main . js file -->
</head>
<body>
    <h1> Hey , now we are working on EJs</h1>
    <h4> so ,now Smile and keep coding</h4>
    <h6>This was the text which has been passed through the main . js file<%= message %> </h6>
</body>
</html>